.portfolio-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ddd;
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  margin: 2rem auto 2rem auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.portfolio-img img {
  width: 100%;
  height: auto;
  will-change: filter;
  transition: filter 300ms;
}

.portfolio-img img:hover {
  cursor: pointer;
}

.my-name {
  font-weight: 600;
  color: #fff;
}
.bio-text {
  font-size: 1rem;
  color: #ccc;
  margin: 0 1rem 2rem 1rem;
  line-height: 1.5;
}
